@font-face {
    font-family: Macondo Grotesk;
    src:url('../font/Macondo_Grotesk.ttf');
}

@font-face {
    font-family: Bebas Neue;
    src:url('../font/BebasNeue.otf');
}

@font-face {
    font-family: Blanch Condensed;
    src:url('../font/BLANCH_CAPS_LIGHT.otf');
}

.container{
    height: 100%;
}

.thumb {
    padding-top: 2%;
    margin-top: 2%;
    margin-bottom: 5%;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    font-family: Blanch Condensed;
    font-size: 220%;
    line-height: 0.7;
    height: 300px;
    overflow: hidden;
}

.thumb img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 200px;
}

.listIdPrice{
    max-height: 55px;
    overflow: hidden;
    text-overflow: ellipsis; 
    word-wrap:break-word;
}

.listCourseName{
    max-height: 90px;
    overflow: hidden;
    text-overflow: ellipsis; 
    word-wrap:break-word;
}

.dash{
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 150%;
}

.searchBar{
    background-color: #414548;
    padding-top: 2%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.searchLabel{
    color: #ffffff;
}

#searchButton{
    margin-top: 50px;
}