@font-face {
    font-family:Macondo Grotesk;
    src:url('../font/Macondo_Grotesk.ttf');
}

@font-face {
    font-family:Bebas Neue;
    src:url('../font/BebasNeue.otf');
}

@font-face {
    font-family:Blanch Condensed;
    src:url('../font/BLANCH_CAPS_LIGHT.otf');
}

body{
    background-color: #f5d76e;
    margin-top: 0;
    height: 100%;
    font-family: Arial;
}

.container{
    background-color: #fafafa;
    max-width: 80%;
    height: auto;
    padding-top: 1%;
    padding-bottom: 1%;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-family: Arial;
}

.header{
    display:inline-block;
}

.left-header{
    display: inline-block;
}

.right-header{
    display: inline-block;

}

.headerLink{
    color: #f4d03f;
    font-family: Bebas Neue;
    font-size: 150%;
}

.headerLink:hover{
    color: #f0ad4e;
    text-decoration: none;
}

.username, .caret{
    color: #f4d03f;
}

.dropdown{
    font-family: Bebas Neue;
    font-size: 150%;
}

.dropdownList{
    width: 100%;
}

.logoutDropDown{
    font-family: Bebas Neue;
    font-size: 130%;
}

.brand{
    color:#424548;
    font-weight: bold;
    font-size: large;
    font-family: Macondo Grotesk;
    font-size: 200%;
}

.brand:hover{
    text-decoration: none;
}

.brand:visited{
    text-decoration: none;
}

.list li{
    display: inline-block;
    list-style-type:none;
    margin-right:60px;
}

.img_logo{
    margin-left: 30px;
    width: 80px;
}

.content{
    background-color: #fafafa;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    height: auto;
}

.login-title{
    font-weight: bold;
    text-align: center;
    padding-top: 30px;
}
.group{
    display:block;
    margin-left: auto;
    margin-right: auto;
}

.loginTable{
    margin-left: auto;
    margin-right: auto;

    border-collapse: separate;
    border-spacing:0px 20px;
}


.tableLink:hover{
    color: #f5d76e;
}

.PanelButtonWrapper{
}

.PanelButton{
    background-color: #f4d03f;
    font-weight: bolder;
    width: 100px;
    height: 50px;
    font-size: large;

}

.PanelButton:hover{
    background-color: #f0ad4e;
}

.input{
    color: black;
    width: 200px;
    font-size: 120%;
}


table.post_table {
    position: relative;
    margin-top: 2.5%;
    width:100%;
    color: black;
    text-align: left;
    margin-left: 3%;
}

.description{
    position: relative;
    width: 98%;
    display:inline-block;
    border: 5px solid rgba(150, 146, 148, 0.44);
    height: auto;
    background-color: white;
    text-align: center;
    margin-top: 3%;
}

table.note_info {
    position: relative;
    margin-top: 3%;
    width:100%;
    color: black;
    text-align: left;
	border-style:hidden;
    margin-left: 3%;
}

.input_title{
    color: black;
    width: 300px;
    font-size: 130%;
}

label.title{
    color: #424548;
    font-family: Bebas Neue;
    font-size: 140%;
    width: 50px;
    height: 40px;
}

.uploadbutton{
	border: 3px solid rgba(26, 26, 189, 0.72);
	width:70px;
	height:35px;
}

label.small{
    color: #424548;
    font-family: Bebas Neue;
    font-size: 150%;
    width: 60px;
}

label.small2{
    color: #424548;
    font-family: Bebas Neue;
    font-size: 150%;
    width: 60px;
	padding-left: 12%;
}

input.small{
    color: black;
    font-size: 130%;
}

select.t{
    color: black;
    font-size: 130%;
}

.options{
    width: 170px;
}

label.teacher{
    color: #424548;
    font-family: Bebas Neue;
    font-size: 140%;
    width: 90px;
}

.input_description{
    color: black;
    width: 80%;
    height: 130px;
    font-size: 130%;
}

.normal_tr_height {
    height: 48px;
}

.large_tr_height {
    height: 155px;
}
.last_tr_height {
    height: 60px;
}

.button{
    position: relative;
    width: 90%;
    display:inline-block;
    left: 5%;
    margin-top: 2%;

}

.reset{
    float: left;
    background:url(../images/button-reset.png);
    background-size: 100%;
    width: 120px;
    height: 36px;
    border: 0;
}

.deletebtn{
    float: left;
    background:url(../images/button-delete.png);
    background-size: 100%;
    width: 120px;
    height: 36px;
    border: 0;
}

.submit{
    float: right;
    background:url(../images/button-submit.png);
    background-size: 100%;
    width: 120px;
    height: 36px;
    border: 0;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    color: #424548;
    font-family: Bebas Neue;
    font-size: 150%;
    display: inline-block;
    cursor: pointer;
    border-color: darkblue;
    border: 2px;
}

.filename{
    color: black;
    width: 120px;
    font-size: 130%;
    left: 5%;
}




